ul {
	list-style-type: none;
}

ol, #getHintContents {
	display: inline-block;
	text-align: left;
}

#posts, #reddit, #getHint {
	text-align: center;
}

label, input[type="text"], p {
	font-size: 1.25rem;
	vertical-align: middle;
}

#names {
	color: orange;
}

.title {
	font-size: 1.2rem;
}

ol {
	font-size: 1.1rem;
}

ul {
	margin-bottom: 1%;
}