main {
	text-align: center;
}

input[type="number"], input[type="text"] {
	font-size: 1.5rem;
	width: 7rem;
	text-align: center;
}

#ans-error {
	color: red;
}

#msg {
	font-size: 1.5rem;
	color: red;
	margin-top: 1%;
}

label, p {
	font-size: 1.5rem;
}

#correct {
	color: #10ef36;
}

#end {
	font-size: 3em;
	color: orange;
}